:root {
  --primary-color: #2721a0;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --font: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  max-width: 800px;
  margin: 60px auto;
}

h1 {
  font-size: 96px;
  color: red;
}

h2 {
  font-size: 48px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0 auto;
  font-family: var(--font);
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links a {
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
  border-radius: 4px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.contact {
  text-align: center;
}

.homepage-link {
  text-align: center;
  display: block;
}

.contact-link {
  border: 1px solid var(--secondary-color);
}
.about-link {
  border: 1px solid var(--secondary-color);
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}
